
@{ 
    ViewBag.Title = "Filmler";
}
@using FilmDukkaniProje.Models
@model List<Filmler>





<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Filmler
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>

            <div>
                @if (Session.Keys.Cast<string>().Any(c => c == "FilmListeyeEkle"))
                {
                    <span>@Session["FilmListeyeEkle"]</span>

                    Session["FilmListeyeEkle"] = "";
                }
            </div>

            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Film Adı</th>
                                <th>Yönetmen</th>
                                <th>Özet</th>
                                <th>Oyuncular</th>
                                <th>Yapım Yılı</th>
                                <th>Aldığı Ödüller</th>
                                <th>Kategori</th>
                                <th>Altyazı</th>
                                <th>Listeye Ekle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Filmler flm in Model)
                            {
                            <tr>
                                <td>@flm.FilmAdi</td>
                                <td>@flm.Yonetmen</td>
                                <td>@flm.Ozet</td>
                                <td>@flm.Oyuncular</td>
                                <td>@flm.YapimYili</td>
                                <td>@flm.AldigiOduller</td>
                                <td>@flm.Kategori.KategoriAdi</td>
                                <td>@flm.AltYazi.AltYaziAdi</td>
                                <td><a href="/Filmler/FilmiListeyeEkle/@flm.FilmID" id="listeyeAt" class="btn btn-primary lstekle" name="@flm.FilmID">Listeye Ekle</a></td>


                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>